body{
    margin: 0;;
    padding: 0;
}
.page{
    height: 1000px;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
.page1{
    background-image: url("image/00.jpg");
    height: 1800px;
}
.page2{
    background-image: url("image/01.jpg");
    background-position-y: -152px;
}
.page3{
    background-image: url("image/02.jpg");
}
.page4{
    background-image: url("image/03.jpg");
}
.page5{
    background-image: url("image/04.jpg");
}
.page6{
    background-image: url("image/05.jpg");
}