html{
    height: 100%;
}
body{
    margin: 0 auto;
    padding: 0;
    background: url("bg.jpg") no-repeat;
    background-size: cover;
    background-position-x: 50%;
    height:100%;
}
.sheet{
    width: 50%;
    height: 100%;
    float: right;
    /*background-color: #1F1514;*/
    background-color: #000;
    opacity: 0.75;
}
div.outer_circle{
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: relative;
    left: 50%;
    margin-left: -250px;
    top: 65px;

}
div span.rotate_circle{
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    border-radius: 50%;
    background: rgba(108, 36, 36, 0.5);
}
div.inner_circle{
    width: 230px;
    height: 230px;
    border: 6px solid #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -117px;
    margin-top: -117px;
    border-radius: 50%;

}
div span.enterBtn{
    width: 40px;
    height: 40px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    margin-top: -20px;

}
div span button{
    width: 40px;
    height: 40px;
    background: #ffffff;
    border: none;
}